1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [90]:
years_list = [year for year in range(1995,2001)]
years_list

[1995, 1996, 1997, 1998, 1999, 2000]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [91]:
third_birthday_year = years_list[3]
third_birthday_year

1998

3. In the years list, which year were you the oldest?

In [92]:
oldest_year = years_list[-1]
oldest_year

2000

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [93]:
things = [ "mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [94]:
things[1] = things[1].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [95]:
surprise = ["Groucho","Chico","Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [96]:
last_element = surprise[-1].lower()
last_element = last_element[::-1].capitalize()
surprise[-1] = last_element 
surprise

['Groucho', 'Chico', 'Oprah']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [97]:
e2f = {"dog":"chien","cat":"chat","walrus":"morse"}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [98]:
e2f['walrus']

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [99]:
f2e = {v: k for k, v in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [100]:
f2e['chien']

'dog'

12. Make and print a set of English words from the keys in e2f.

In [101]:
english_words = set(e2f.keys())
english_words

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [102]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':' ','emus':' '},'plants':' ','other':' '}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': ' ', 'emus': ' '},
 'plants': ' ',
 'other': ' '}

14. Print the top-level keys of life.

In [103]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life['animals'].

In [104]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life['animals']['cats']

In [105]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']